body {
    background-image: url("https://i.pinimg.com/originals/ea/08/73/ea08735f2d6cc30f8ee48c0ee23ffe25.png");

    background-size: cover;
    background-position: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #151d25;
    margin: 10%;
    font-size: larger;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 100px;
    font-family: "Source Sans Pro",Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #introduction {
    background-color: rgba(62, 87, 81, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  span {
    font-style: italic;
    color: aliceblue;
    background-color: #486581;
  }
  
  table#worktable,
  table#worktable th,
  table#worktable td {
    border: 1px solid #151d25;
    border-collapse: collapse;
    background-color: rgba(250, 235, 215, 0.8);
    padding: 10px;
  }
  
  #cv-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #d2b48c;
  }
  
  nav {
    border-radius: 5px;
    background-color: #4a6770;
    padding: 10px;
  }
  
  nav:hover {
    background-color: #2c3e50;
  }
  
  th {
    text-align: left;
  }
  
  div {
    background-color: #decba49c;
    padding: 20px;
    border-radius: 5px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  textarea {
    height: 120px;
  }
  


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4a6770;
    padding: 10px;
    z-index: 999; 
  }
  
  .main-index {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
  }
  .main-index li {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .main-index a {
    color: #ffffff;
    text-decoration: none;
  }
  
  
  .main-index li:hover a {
    color: #2c3e50; 
    background-color: #ffffff;}